@model ControlerMvcAcesso.Models.TB_ALUNO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TB_ALUNO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NACIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NACIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TB_ADM_USUARIO.NOME_ADM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TB_ADM_USUARIO.NOME_ADM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.COD_ALUNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
