@model IEnumerable<ControlerMvcAcesso.Models.TB_ADM_USUARIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOME_ADM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOBRENOME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SENHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PERFIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ATIVO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOME_ADM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOBRENOME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SENHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PERFIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ATIVO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.COD_ADM_USUARIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.COD_ADM_USUARIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.COD_ADM_USUARIO })
        </td>
    </tr>
}

</table>
